.about {
  @extend %clearfix;
}

.description {
  width: 75%;
  float: right;

  @include tablets {
    width: 100%;
    margin-left: 0;
  };
}

.about {
  margin-left: rem(30px);
}

.about__left {
  float: left;
  width: 40%;
  @include tablets {
    width: 25%;
  };
}

.about__pict {
  overflow: hidden;
  border: 5px solid #fff;
  @include border-radius(50%);
  width: rem(220px);
  height: rem(220px);
  background: url("../../img/avatar.png") center center no-repeat;
  background-size: 100%;
  transition: 0.3s;

  &:hover {
    background-size: 110%;
  }

  @include tablets {
    width: rem(170px);
    height: rem(170px);
  };
}

.about__pict-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.about__right {
  float: right;
  width: 60%;

  @include tablets {
    width: 70%;
  };
}

.title {
  font-size: rem(35px);
  line-height: 40px;
  color: $dark-gray;
  @include fira(medium);
  margin: 0 0 rem(18px) 0;
}

.about__desc {
  margin-bottom: 50px;

  p {
    font-size: rem(18px);
    @include fira(light);
    color: #646464;
  }
}

.about__btns {
  text-align: right;
}

.btn {
  padding: rem(10px);
  @include border-radius(20px);
  border: 2px solid $light-red;
  color: $light-red;
  transition: 0.2s;
  &:hover {
    background-color: $light-red;
    color: #fff;
  }
}

.btn__text {
  font-weight: bold;
}
