.sidebar {
  width: 25%;
  float: left;

  @include tablets {
    width: 100%;
    float: none;
    margin-bottom: rem(15px);
  };

}

.nav {
  padding-right: 20px;
}

.nav__list {
  text-align: right;

  @include tablets {
    text-align: left;
  };
}

.nav__item {
  @include tablets {
    display: inline-block;
  };
}

.nav__link {
  display: block;
  padding: rem(10px) rem(20px) rem(10px) 0;
  @include fira(regular);
  font-size: rem(18px);
  border-right: 6px solid transparent;
  color: $dark-gray;
  transition: 0.2s;

  &:hover {
    color: $blue;
    border-right-color: lighten($blue, 25%);
  }

  @include tablets {
    border: 0;
  };

  @include phones {
    padding-right: rem(14px);
    .fa {
      display: none;
    }
  };
}

.nav__item_active {
  .nav__link {
    @include fira(bold);
    color: $blue;
    border-right-color: $blue;
  }
}
