.page-content {
  width: 75%;
  float: right;

  @include tablets {
    width: 100%;
  };
}

.career {
  padding-left: rem(5px);
  @extend %clearfix;
}

.career__left {
  float: left;
  width: 30%;

  @include phones {
    float: none;
    width: 100%;
  };
}

.career__right {
  float: right;
  width: 60%;
  text-align: right;

  @include phones {
    float: none;
    width: 100%;
  };
}

.career__pict {
  max-width: rem(220px);

  @include phones {
    margin: 0 auto;
    max-width: 220px;
  };
}

.career__pict-img {
  width: 100%;
}

.career__item {
  width: 90%;
  display: inline-block;
  text-align: right;
  margin-bottom: rem(20px);

    &:first-child {
      .career__block {
        &:before {
          display: none;
        }
      }
    }

    &:last-child {
      .career__block {
        &:after {
          display: none;
        }
      }
    }

    @include phones {
      width: 100%;
    };
}

.career__block {
  padding: rem(20px);
  position: relative;
  text-align: left;
  background-color: #fff;
  transition: 0.2s;
  @include border-radius(10px);
  @include box-shadow(0 1px 3px 0 rgba(#000, 0.2));

  &:hover {
    background-color: $blue;
    color: #fff;

    .career__year {
      color: $blue;
      font-size: rem(20px);
      font-weight: bold;

      &:after {
        right: rem(-25px);
        margin-top: rem(-10px);
        border: 5px solid #94e0f2;
      }
    }
  }

  &:before, &:after {
    content: "";
    display: block;
    width: rem(1px);
    background-color: #ddd;
    position: absolute;
    left: rem(-30px);
  }

  &:before {
    top: rem(-22px);
    bottom: 50%;
    margin-bottom: rem(10px);
  }

  &:after {
    top: 50%;
    bottom: 0;
    margin-top: rem(10px);
  }

  @include phones {
    &:before, &:after {
      display: none;
    }
  };
}

.career__title {
  @include fira(regular);
  font-size: rem(21px);
  color: #5a5a5a;
}

.career__occupation, .career__date {
  @include fira(light);
  font-size: rem(18px);
  color: $light-gray;
}

.career__year {
  position: absolute;
  right: 100%;
  top: 50%;
  margin-right: rem(45px);
  margin-top: rem(-8px);
  line-height: 16px;
  transition: 0.2s;
  @include fira(light);
  font-size: rem(14px);
  color: $light-gray;

  &:after {
    content: "";
    position: absolute;
    height: rem(10px);
    width: rem(10px);
    @include border-radius(50%);
    background-color: $blue;
    right: rem(-20px);
    top: 50%;
    margin-top: -5px;
    z-index: 1;
  }

  @include phones {
    display: none;
  };
}
