$socials: (fb,vk,tw);

.footer {
  background: $dark-gray;
  @extend %clearfix;
}

.container {
  position: relative;
}


.footer__left {
  float: left;

  @include phones {
    float: none;
    text-align: center;
  };
}

.copyright {
  height: $footer-height;
  line-height: $footer-height;
  @include fira(light);
  font-size: rem(14px);
  color: $light-gray;
  @include phones {
    font-size: 14px;
  };
}

.footer__right {
  float: right;

  @include phones {
    float: none;
    text-align: center;
  };
}

.socials {
  display: block;
  margin: rem(10px) 0 0 0;
}

.socials__item {
  display: inline-block;
  @include phones {
    font-size: 14px;
  };
}

.socials__link {
  display: inline-block;
  width: rem(32px);
  height: rem(32px);
  color: $white;
  text-indent: rem(-9999px);
}

@each $social in $socials {
   .socials__link_#{$social} {
     background: url('/img/social/#{$social}.png') center no-repeat;
     background-size: 100%;

     &:hover {
       background: url('/img/social_hover/#{$social}.png') center no-repeat;
       background-size: 100%;
     }
   }
}
