.portfolio {
  width: 700px;
  float: right;
}

.portfolio__list {
  margin: 0 0 0 -20px;
  font-size: 0;
}

.portfolio___item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding: 0 0 20px 20px;

  * {
    font-size: 14px;
  }
}

.portfolio__link {
  display: block;
  border-radius: 10px;
  background-color: #fff;

  &:hover {
    .portfolio__title {
      color: $light-red;
    }

    .portfolio__pict {
      opacity: 1;
    }
  }
}

.portfolio__pict {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  opacity: 0.8;
}

.portfolio__desc {
  padding: 20px;
}

.portfolio__title {
  @include fira(regular);
  font-size: 21px;
  color: $blue;
}

.portfolio__about {
  margin: 0 0 5px;
  @include fira(light);
  font-size: 14px;
  color: $dark-gray;
}

.portfolio__type {
  @include fira(bold);
  color: #aeaeae;

  .fa {
    font-size: 18px;
  }
}
