.portfolio__list {
  margin: 0 0 0 rem(-20px);
  font-size: 0;
}

.portfolio___item {
  @include valign();
  width: 33.3%;
  padding: 0 0 rem(20px) rem(20px);

  * {
    font-size: rem(14px);
  }

  @include phones {
    width: 100%;
  };
}

.portfolio__link {
  display: block;
  @include border-radius(10px);
  @include box-shadow(0px 1px 3px 0px rgba(#000, 0.2));
  background-color: #fff;

  &:hover {
    @include box-shadow(0px 4px 8px 0px rgba(#000, 0.2));
    .portfolio__title {
      color: $light-red;
    }

    .portfolio__pict {
      opacity: 1;
    }
  }
}

.portfolio__pict {
  max-width: 100%;
  @include border-radius(10px 10px 0 0);
  opacity: 0.8;

  @include phones {
    width: 100%;
  };
}

.portfolio__desc {
  padding: rem(20px);
}

.portfolio__title {
  @include fira(regular);
  font-size: rem(21px);
  color: $blue;

  @include phones {
    font-size: 24px;
  };
}

.portfolio__about {
  margin: 0 0 rem(5px);
  @include fira(light);
  font-size: rem(14px);
  color: $dark-gray;
}

.portfolio__type {
  @include fira(bold);
  color: #aeaeae;

  .fa {
    font-size: rem(18px);
  }
}
